@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d9d9d9;
    color: #434343;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    max-width: 1041px;
    margin: 16px auto;
    background-color: #fff;
    padding: 1px 45px;
}

header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/4;
    grid-row: 1/2;
    border-bottom: 2px solid #b0e0ea;
    color: #9f9c9c;
    padding: 17px 0;
}

header>.logo i {
    color: rgba(80, 198, 219, 0.85);
    font-size: 29px;
    margin-top: 2px;
    margin-left: 4px;
}

header>nav>ul {
    display: flex;
    list-style-type: none;
    font-size: 13px;
}

header>nav>ul>li {
    margin-top: 6px;
    margin-right: 3px;
    margin-left: 11px;
}

header>button,
button:active,
button:focus {
    background-color: #51bb7b;
    color: #fff;
    border-radius: 1.3em;
    border-style: none;
    outline: none;
    width: 72px;
    margin: 1px 9px 3px 0px;
    font-size: 12px;
}


.hero {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 382px;
}


.hero>img {
    width: 98%;
    height: 251px
}


.asidebar {
    grid-column: 1/2;
    grid-row: 3/5;
    border-top: 3px solid #693f7e;
    background-color: #f9f9f6;
    padding: 25px 0px 0px 21px;
    width: 374px;
}

.asidebar h4 {
    font-size: 15.6px;
    margin-bottom: 17px;
}

.asidebar ul {
    list-style-type: none;
    font-size: 10px;
}

.asidebar li {
    margin: 6px 0px;
}


main {
    grid-column: 2/4;
    grid-row: 2/4;
}

main h2 {
    color: rgba(80, 198, 219, 0.85);
    font-size: 26.6px;
    margin-top: 1px;
    margin-bottom: 14px;
}

main p {
    font-weight: 400;
    font-size: 13.3px;
    color: #918b8b;
    margin-top: 10px;
    margin-right: 20px;
}

.help {
    display: flex;
    justify-content: space-around;
    grid-column: 2/4;
    grid-row: 4/5;
    border: 1.5px solid #d9d9d9;
    margin-top: 47px;
    width: 560px;
    height: 119px;
}


.help-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 11px;
}

.help-item h4 {
    font-weight: 500;
    font-size: 15.1px;
    margin-left: 3px;
}

.help-item p {
    margin: 4px 0 8px;
    font-size: 10px;
}

.help-item button {
    border: 2.5px solid rgba(80, 198, 219, 0.85);
    padding: 4px;
    color: rgba(80, 198, 219, 0.85);
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-column: 1/3;
    grid-row: 5/6;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 9px;
}

.gallery img {
    width: 98%;
}

.sidebar-related {
    grid-column: 3/4;
    grid-row: 5/6;
    padding: 0.1em;
    margin-left: 24px;
    width: 224px;
}

.sidebar-related h3 {
    padding-bottom: .4em;
    margin-bottom: 5px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 20px;
}

.sidebar-related ul {
    margin-left: 21px;
    font-size: 13px;
}

.sidebar-related a {
    font-weight: 500;
    color: #838383;

}

footer {
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
    background-color: #9f9c9c;
    padding: 12px 0px;
    width: 946px;
    height: 82px;
}

footer h3 {
    color: #fff;
    margin-bottom: 9px;
    margin-top: 5px;
    padding-left: 7px;
    font-size: 16px;
}

footer p {
    font-size: 10px;
}


@media screen and (max-width:768px) {
    .container {
        grid-template-rows: repeat(8, auto);
    }

    .hero {
        display: none;
    }

    .asidebar {
        grid-column: 1/4;
        grid-row: 2/3;
        border-top: none;
        text-align: center;
        width: auto;
        padding-left: initial;

    }

    .asidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    main h2 {
        text-align: center;
    }

    .help {
        grid-column: 1/4;
        grid-row: 4/5;
        width: auto;
    }

    .gallery {
        grid-column: 1/4;
        grid-row: 5/6;
    }

    .sidebar-related {
        grid-column: 1/4;
        grid-row: 6/7;
        margin-left: initial;
        width: auto;
        margin-bottom: 27px;
    }

    .sidebar-related ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar-related h3 {
        text-align: center;
    }

    footer {
        grid-column: 1/4;
        grid-row: 7/8;
        text-align: center;
        background-color: #9f9c9c;
        padding: 12px 0px;
        width: auto;

    }

    footer p {
        font-size: 10px;
    }
}